<div class="row">
	<div class="center-container">
    <div class="col-xs-6">
				<ul>
					{{#each burgers}}
						<li>
							<p> {{this.id}}. {{this.burger_name}}</p>
						<a href="/burger-{{this.id}}">Devour!</a>
						</li>
					{{/each}}
				</ul>
		</div>
		<div class="col-xs-6">
				<ul>
					{{#each burgers}}
						<li>
							<p> {{this.id}}. {{this.burger_name}}</p>
						</li>
					{{/each}}
				</ul>
		</div>
	</div>
</div>
